#
## Level 0: https://gitlab.com/kalilinux/packages/debian-installer/-/blob/kali/master/build/preseed.cfg
## Level 1:
##   - https://gitlab.com/kalilinux/build-scripts/kali-installer/-/blob/main/simple-cdd/profiles/kali.preseed
##   - https://gitlab.com/kalilinux/build-scripts/kali-live/-/blob/main/kali-config/common/includes.installer/preseed.cfg
## Level 2:
##   - https://gitlab.com/kalilinux/build-scripts/kali-packer/-/blob/main/http/preseed.cfg   (This file)
##
#
## Other preseed examples:
##   - https://gitlab.com/kalilinux/recipes/kali-preseed-examples
##   - https://github.com/chef/bento/blob/main/packer_templates/http/debian/preseed.cfg
##   - https://github.com/hashicorp/packer-plugin-vmware/blob/main/example/data/debian/preseed.pkrtpl.hcl
#

d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/shortlist select US
d-i localechooser/preferred-locale select en_US.UTF-8
d-i localechooser/languagelist select en
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select eth0
d-i netcfg/get_hostname string kali
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wep string
d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string
d-i passwd/user-fullname string Vagrant
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i clock-setup/utc boolean true
d-i time/zone string America/New_York
d-i clock-setup/ntp boolean true
d-i partman-auto/method string regular
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
tasksel tasksel/first multiselect standard,core,desktop-xfce,meta-default
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/sda
d-i finish-install/reboot_in_progress note

## Enable SSH
d-i preseed/late_command string in-target systemctl enable ssh

## Legacy
#d-i apt-setup/use_mirror boolean true
d-i console-keymaps-at/keymap select us
#d-i hw-detect/load_firmware boolean false
#d-i mirror/codename string kali-rolling
#d-i mirror/suite string kali-rolling
#d-i netcfg/dhcp_timeout string 60
#d-i partman-auto/disk string /dev/sda
#d-i partman-lvm/confirm boolean true
#d-i partman-lvm/device_remove_lvm boolean true
#d-i partman-md/device_remove_md boolean true
#d-i partman/confirm_write_new_label boolean true
